{% extends 'base.html' %}
{% load static %}

{% block content %}

<header id="home-bg">
  <div class="section no-pad-bot" id="index-banner">
    <div>
      <br>
      <h4 class="center" style="font-family:Arial, Helvetica, sans-serif; color: rgb(9, 102, 82);"><b>Welcome to</b></h4>
      <h1 class="center"><i class="material-icons" style="font-size:larger; color:rgb(47, 79, 67); margin-top: -7%;">psychology</i> <b style="font-size: x-large; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;"><br><p style="margin-top: -4%; color: rgb(10, 93, 79);"> BrainAxis</p></b></h1><br> 
      <h5 class="header center" style="font-family: Verdana, Geneva, Tahoma, sans-serif;margin-top: -4%; padding-top: 1%; color: rgb(35, 82, 70);">Online Skill Learning Platform for CS & IT Lover Students</h5> 
      <h5 class="header col s12 light center" style="color: rgb(48, 95, 97);">Learn without limits and build new skills with our courses.</h5>
      <br>
    </div>
  </div>
</header>
<!-- <section class="slider">
  <ul class="slides">
    <li>
      <img src="{% static 'img/slider.jpg' %}">  
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="{% static 'img/slider.jpg' %}">  
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="{% static 'img/slider.jpg' %}">  
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="{% static 'img/slider.jpg' %}">  
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</section> -->

<!--Search-->
<section id="search" class="section section-search #00695c teal darken-3 white-text center scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 id="searchh">Search Courses</h5>
        <div class="input-field" style="height: 20px;">
          <form action="{% url 'search' %}" method="GET">
            <input type="text" name="keyword" placeholder=" Search course name here.." required style="height: 25px;">
             <button style="height: 43.8px; width: 65px; color: rgba(11, 82, 64, 0.945);"><b>Search</b></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section>
  <div class="container">
    <h2 class="center" style="color: rgba(0, 41, 41, 0.657);">Categories</h2>
    <hr>
    <div class="row">
      {% for category in categories %}
      <div class="col s12 m4">
        <a href="{% url 'category-courses' category.slug %}">
          <div class="card-panel teal center-align white-text">
            <i class="material-icons large">{{ category.icon }}</i>
            <h5><b>{{ category.title }}</b></h5>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section> -->
<section>
   <div style="margin: 5%;">
    <h3 class="center" style="color: rgba(0, 41, 41, 0.657);">All Courses</h3>
    <hr>
    <div class="row">
      {% for course in course %}
      <div class="col s12 m3">
        <div class="card"  style="height: 315px;">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ course.picture.url }}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><b>{{ course.title }}</b><i
                class="material-icons right">more_vert</i></span>
            <p class="title"><b>{{ course.enrolled.count }}</b> Students</p>
            <a href="{% url 'enroll' course.id %}" class="btn">Enroll</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">About<i class="material-icons right">close</i></span>
            <p>{{ course.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
   </div>
</section>

<!-- <section class="section section-icons  grey lighten-4 center">
  <div class="container">
    <div class="row">
      {% for teacher in teachers %}
      <div class="col s12 m3">
        <div class="card-panel" style="background-color: transparent;">
           
          {% if teacher.user.profile.picture %}
          <img src="{{ teacher.user.profile.picture.url }}" class=" circle responsive-img">
          {% else %}
          <img src="{% static 'img/no_avatar.jpg' %}" class="circle responsive-img">
          {% endif %}
           
          
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color:#18445dd5;">{{ teacher.user.username}}</h5>
              <p class="card-title">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</p>
              <p class="card-text">{{teacher.user.email}}</p>
              <p class="card-text"><small class="text-muted">{{teacher.user.profile_info}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section> -->


<!-- services section  style="background-color: rgb(218, 246, 218);"-->
<br><br>
<div class="container  services" id="services" >
  <div class="col s12 16 offset-12 center">
    <ul class="tabs" style="background-color: rgb(218, 246, 218);">
      <li class="tab col s6">
        <a href="#section1" class="indigo-text text-darken-4"><b>Which services we provide</b></a>
      </li>
      <li class="tab col s6">
        <a href="#section2" class="indigo-text text-darken-4"><b>Course related questions and answer</b></a>
      </li>
    </ul>
    <br>
    <div class="row" id="section1">
      <div class="col s12  m4 13 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">aspect_ratio</i>
            <h5>Web Development</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit nostrum excepturi sequi incidunt
              error eaque aspernatur a id dolor nisi, dicta architecto nesciunt modi labore ipsam mollitia provident!
              Officia!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet
            </p>
          </div>
        </div>
      </div>
      <div class="col s12  m4 13 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">aspect_ratio</i>
            <h5>Web Development</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit nostrum excepturi sequi incidunt
              error eaque aspernatur a id dolor nisi, dicta architecto nesciunt modi labore ipsam mollitia provident!
              Officia!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet
            </p>
          </div>
        </div>
      </div>
      <div class="col s12  m4 13 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">aspect_ratio</i>
            <h5>Web Development</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit nostrum excepturi sequi incidunt
              error eaque aspernatur a id dolor nisi, dicta architecto nesciunt modi labore ipsam mollitia provident!
              Officia!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="section2">
      <div class="container">
        <h1>Another section</h1>
      </div>
    </div>
  </div>
</div>
<div style="background-color: rgba(92, 182, 140, 0.596);">
  <br><br>
  <h4 class="teal-text text-darken-3 center"><b>Questions and Answering Section</b></h4>
  <br><br>
  <div class="container">
    <div class="accordion">
      <div class="contentBx">
        <div class="label"><b>List One</b></div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae nemo deleniti praesentium!
            Fugiat aliquid consectetur repellat eos deleniti sapiente aperiam architecto itaque sequi alias asperiores,
            officia, earum ipsam minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nulla
            laboriosam reprehenderit provident deleniti fugiat facilis quas, tempore explicabo totam dicta. Rem minus
            fugiat maxime culpa commodi, veniam impedit incidunt! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Deleniti a culpa nostrum labore ipsa quasi reprehenderit cupiditate non reiciendis doloremque facilis
            in explicabo dolor temporibus id, totam earum accusamus alias! Lorem, ipsum dolor sit amet consectetur
            adipisicing elit. Eligendi incidunt alias odio, veniam dolor dolores repudiandae ipsa sequi nemo ducimus
            voluptatem earum dolore saepe maxime cupiditate doloremque laborum impedit aspernatur.</p>
        </div>
      </div>
      <div class="contentBx">
        <div class="label"><b>List One</b></div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae nemo deleniti praesentium!
            Fugiat aliquid consectetur repellat eos deleniti sapiente aperiam architecto itaque sequi alias asperiores,
            officia, earum ipsam minus?</p>
        </div>
      </div>
      <div class="contentBx">
        <div class="label"><b>List One</b></div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae nemo deleniti praesentium!
            Fugiat aliquid consectetur repellat eos deleniti sapiente aperiam architecto itaque sequi alias asperiores,
            officia, earum ipsam minus?</p>
        </div>
      </div>
    </div>
  </div>
  <br><br><br><br>
</div>



{% endblock %}