{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="slider">
  <ul class="slides">
    <li>
      <img src="{% static 'img/slider.jpg' %}"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="{% static 'img/slider.jpg' %}"> <!-- random image -->
      <div class="caption left-align">
        <h3>Left Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="{% static 'img/slider.jpg' %}"> <!-- random image -->
      <div class="caption right-align">
        <h3>Right Aligned Caption</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
    <li>
      <img src="{% static 'img/slider.jpg' %}"> <!-- random image -->
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li>
  </ul>
</section>

<!--Search-->
<section id="search" class="section section-search #00695c teal darken-3 white-text center scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 id="searchh">Search Courses</h5>
        <div class="input-field" style="height: 20px;">
           <form action="{% url 'search' %}" method="GET">
            <input type="text" name="keyword" placeholder="Search course name here.." required style="height: 25px;">
            <button>Search</button>
           </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="center" style="color: rgba(0, 41, 41, 0.657);">Categories</h2><hr>
    <div class="row">
      {% for category in categories %}
      <div class="col s12 m4">
        <a href="{% url 'category-courses' category.slug %}">
          <div class="card-panel teal center-align white-text">
            <i class="material-icons large">{{ category.icon }}</i>
            <h5><b>{{ category.title }}</b></h5>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      {% for course in course %}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ course.picture.url }}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><b>{{ course.title }}</b><i
              class="material-icons right">more_vert</i></span>
            <p class="title"><b>{{ course.enrolled.count }}</b> Students</p>
            <a href="{% url 'enroll' course.id %}" class="btn">Enroll</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">About<i class="material-icons right">close</i></span>
            <p>{{ course.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section section-icons grey lighten-4 center">
  <div class="container">
    <div class="row">
      {% for teacher in teachers %}
      <div class="col s12 m4">
        <div class="card-panel">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ profile.picture.url }}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title" style="color:#18445dd5;">{{ teacher.user.username}}</h5>
              <p class="card-title">{{ teacher.user.first_name }} {{ teacher.user.last_name }}</p>
              <p class="card-text">{{teacher.user.email}}</p>
              <p class="card-text"><small class="text-muted">{{teacher.user.profile_info}}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


<!-- services section -->
<br><br>
<div class="container services" id="services">
  <div class="col s12 16 offset-12 center">
    <ul class="tabs">
      <li class="tab col s6">
        <a href="#section1" class="indigo-text text-darken-4"><b>Which services we provide</b></a>
      </li>
      <li class="tab col s6">
        <a href="#section2" class="indigo-text text-darken-4"><b>Course related questions and answer</b></a>
      </li>
    </ul>
    <br>
    <div class="row" id="section1">
      <div class="col s12  m4 13 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">aspect_ratio</i>
            <h5>Web Development</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit nostrum excepturi sequi incidunt error eaque aspernatur a id dolor nisi, dicta architecto nesciunt modi labore ipsam mollitia provident! Officia!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet  
            </p>
          </div>
        </div>
      </div>
      <div class="col s12  m4 13 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">aspect_ratio</i>
            <h5>Web Development</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit nostrum excepturi sequi incidunt error eaque aspernatur a id dolor nisi, dicta architecto nesciunt modi labore ipsam mollitia provident! Officia!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet  
            </p>
          </div>
        </div>
      </div>
      <div class="col s12  m4 13 center-align">
        <div class="card">
          <div class="card-content">
            <i class="material-icons large">aspect_ratio</i>
            <h5>Web Development</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet impedit nostrum excepturi sequi incidunt error eaque aspernatur a id dolor nisi, dicta architecto nesciunt modi labore ipsam mollitia provident! Officia!Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet  
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row" id="section2">
      <div class="container">
        <h1>Another section</h1>
      </div>
    </div>
  </div>
</div>
<div style="background-color: rgba(195, 220, 240, 0.65);">
  <br><br>
  <h4 class="teal-text text-darken-3 center"><b>Questions and Answering Section</b></h4>
  <br><br>
  <div class="container">
    <div class="accordion">
      <div class="contentBx">
        <div class="label">List One</div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae nemo deleniti praesentium! Fugiat aliquid consectetur repellat eos deleniti sapiente aperiam architecto itaque sequi alias asperiores, officia, earum ipsam minus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium nulla laboriosam reprehenderit provident deleniti fugiat facilis quas, tempore explicabo totam dicta. Rem minus fugiat maxime culpa commodi, veniam impedit incidunt! Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti a culpa nostrum labore ipsa quasi reprehenderit cupiditate non reiciendis doloremque facilis in explicabo dolor temporibus id, totam earum accusamus alias! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi incidunt alias odio, veniam dolor dolores repudiandae ipsa sequi nemo ducimus voluptatem earum dolore saepe maxime cupiditate doloremque laborum impedit aspernatur.</p>
        </div>
      </div>
      <div class="contentBx">
        <div class="label">List One</div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae nemo deleniti praesentium! Fugiat aliquid consectetur repellat eos deleniti sapiente aperiam architecto itaque sequi alias asperiores, officia, earum ipsam minus?</p>
        </div>
      </div>
      <div class="contentBx">
        <div class="label">List One</div>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem recusandae nemo deleniti praesentium! Fugiat aliquid consectetur repellat eos deleniti sapiente aperiam architecto itaque sequi alias asperiores, officia, earum ipsam minus?</p>
        </div>
      </div>
    </div>
  </div>
  <br><br>
</div>
 


{% endblock %}