{% extends 'base.html' %}
{% block content %}
<div class="col-md-4">
    <h3>Detail Information</h3><li><a href="{% url 'edit-profile' %}"><i class="material-icons">menu_book</i>Edit Profile</a></li><hr>
    <p><span class="font-weight-bold">Name: </span> {{ nav_profile.user.first_name }} {{ nav_profile.user.last_name }}</p>
    <p><span class="font-weight-bold">Username: </span> {{user.username}}</p>
    <p><span class="font-weight-bold">Email: </span> {{user.email}}</p>
    <p><span class="font-weight-bold">Location: </span> {{profile.location}}</p>
    <p><span class="font-weight-bold">Profile Info: </span> {{profile.profile_info}}</p>
    <p><span class="font-weight-bold">Joined on: </span> {{profile.created}}</p>
</div>
{% endblock %}