{% extends 'base.html' %}
{% load static %}

{% block content %}
<header id="home-bg">
  <div class="section no-pad-bot" id="index-banner">
    <div>
      <br><br>
      <h2 class="header orange-text center">Learning</h2>
      <h5 class="header col s12 light center">Learn without limits and build new skills with our courses.</h5>
      <br>
    </div>
  </div>
</header>
<section id="search" class="section section-search #00695c teal darken-3 white-text center scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h5 id="searchh">Search Courses</h5>
        <div class="input-field" style="height: 20px;">
          <form action="{% url 'search' %}" method="GET">
            <input type="text" name="keyword" placeholder=" Search course name here.." required style="height: 25px;">
             <button style="height: 43.8px; width: 65px; color: rgba(11, 82, 64, 0.945);"><b>Search</b></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div style="margin: 5%;">
    <div class="row">
      <h4 class="center" style="color: rgba(2, 31, 31, 0.657);">Search Results for <span class="text-info" style="color: darkslategrey;"><b>{{request.GET.keyword}}</b></span></h4>
      <hr>
      {% if results %}
      {% for result in results %}
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="{{ result.picture.url }}">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><b>{{ result.title }}</b><i
                class="material-icons right">more_vert</i></span>
            <p class="title"><b>{{ result.enrolled.count }}</b> Students</p>
            <a href="{% url 'enroll' result.id %}" class="btn">Enroll</a>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">About<i class="material-icons right">close</i></span>
            <p>{{ result.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      {% for result in results2 %}
      <div class="col s12 m4">
        <a href="{% url 'category-courses' result.slug %}">
          <div class="card-panel teal center-align white-text">
            <i class="material-icons large">{{ result.icon }}</i>
            <h5><b>{{ result.title }}</b></h5>
          </div>
        </a>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
</section>
{% endblock %}