{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card-panel center">
                <div class="medium material-icons">email</div>
                <h1>Contact Us</h1>
                <p>Do let our team know what you feel about this web template. This is our attempt
                    to develop a compelte website using django and python. Your feedback or comments will be valuable to the team.</p>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card-panel">
                <form method="POST">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}