{% extends 'home.html' %}
{% load static %}

{% block banner %}

<header id="teacherreg-bg">
  <div class="section no-pad-bot" id="index-banner">
    <div>
      <br><br>
      <h2 class="header  center" style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: cornsilk;"><b>Create Courses with Brain Axis</b></h2>
      <h5 class="header col s12 light center" style="color: white;"><b>Become an instructor. Give back to the learning community Apply Now!!</b></h5>
      <br>
    </div>
  </div>
</header>

{% endblock %}       
{% block content %}

{% load crispy_forms_tags %}  
  
  <!--Password Reset Confirm-->
    <div class="container p-5">
    {% if registered %}
        <h1>Thank you for registering. Now fill-up this form</h1>
        <hr>
        <a class="btn-large orange" href="{% url 'home' %}">Enter</a>
    {% else %}
	    <h2 class="font-weight-bold mt-3">Teacher registration form</h2>
		<hr>
        <p>Please enter your basic informations.</p>
        <form method="POST">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}                   
            <button class="btn btn-large" type="submit">APPLY</button>
        </form>
    {% endif %}
    </div>

{% endblock %}