{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="section">
  <h4>{{ page.title }}</h4>
  <div class="divider"></div>
</div>

<div class="row">

  <div class="col s12">
    {{ page.content | safe }}
  </div>
  {% for file in page.files.all %}
  <div class="row d-flex justify-content-center mb-3">
    <div id="player-overlay">
      <video controls style="display:block; width:100%; hight:100%;">
        <source src="{{file.file.url}}" type="video/mp4">
      </video>
    </div>
  </div>
  {% endfor %}
  <div class="col s12">
    {{ page.content2 | safe }}
  </div>
  {% if completed != True %}
  <div class="col s12 center-align">
    <a class="btn-large" href="{% url 'mark-page-as-done' course_id module_id page.id %}"><i
        class="material-icons">done</i>Mark as done</a>
  </div>
  {% endif %}
 
   

</div>


{% endblock %}